
body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url(/background2.jpg)!important;

    /* Full height */
    // height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-2 { 
    /* The image used */
    background-color: #D81E5B; 

    /* Full height */
    height: 50%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-headline {
    font-family: 'Droid Sans', sans-serif;
    font-weight: 200;
    text-align: center;
    color: #FFF;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 0px;
    border-bottom: 1px dotted #FFF;
    text-decoration: none;
}
.subheading {
  font-family: 'Droid Sans', sans-serif;
  color: #FFF;
  text-align: center;
}
.link {
  color: white;
}
#first {
  background: linear-gradient(
    to right, 
    #D81E5B 0%, 
    #D81E5B 50%, 
    #23395B 50%, 
    #23395B 100%
  );
  width: 100%;
  min-height: 800px;
  }
  #second {
  background: linear-gradient(
    to right, 
    #59C9A5 0%, 
    #59C9A5 50%, 
    #23395B 50%, 
    #23395B 100%
  );
  width: 100%;
  min-height: 800px;
  }
  .fa-truck {
  color: #D81E5B !important;
}
  .fa-key {
  color: #D81E5B !important;
}
  .fa-map-o {
  color: #D81E5B !important;
}
  .fa-puzzle-piece {
  color: #D81E5B !important;
}
.fa-large{
    font-size: 6em;
}
.icons {
  padding-top: 10px;
}
#homepageline hr {
  border-color: #000;
  z-index: -2;
}
#divider {
position : relative;
top: -60px;
left : 9px;
width : 100%;
text-align : center;
margin: 0 0 0 0;
border-bottom : 1px solid #000;
} 
h3 {
  color: #FFF;
  font-size: 20px;
}
p {
  color: #FFF;
}
.bg-2 p {
  color: #000;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Main carousel style */
.carousel {
    width: 70%;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

.minipic {
  width: 50%;
}

#service {
  padding-bottom: 20px;
}